# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Root-level duplicate media backups
/Hernâni (com Konfuzo_412) - É Ela (Vídeo Oficial) (2026)(MP3_320K).mp3
/WhatsApp Image 2026-07-28 at 00.28.38.jpeg

